@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div align="center">
        <h1>@ViewBag.SeriesTitle</h1>
        <h2>Issue#: @ViewBag.IssueNumber</h2>
        <h5>Description</h5>
        <div>@ViewBag.Description</div>
        @if (ViewBag.Artists.Length > 0)
        {
            <h5>Artists:</h5>
            <div>
                @foreach (var artist in ViewBag.Artists)
                {
                    <p>@artist</p>
                }
            </div>
        }
    </div>
</body>
</html>
